// compress: true

@import "vars";


html {
   
    scroll-behavior: smooth;
 }
 
 body {
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     font-size: 1rem;
     color: black;
 }



 





 
 h1, h2, h3, h4, h5, h6 {
     margin: 0;
 }
 
 a{
    text-decoration: none;
 }

 p {
     margin: 0 0 0rem;
 }
 
 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }


 @import "blocks/header";
 @import "blocks/container";
 @import "blocks/section";
 @import "blocks/section_company";
 @import "blocks/section_job_openings";
 @import "blocks/section_advantages";
 @import "blocks/section_projects";
 @import "blocks/section_career__growth";
 @import "blocks/section_success";
 @import "blocks/Modalwindow";