// main: ../style.less

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Серый задний фон */
    transition: opacity 0.4s ease; /* Плавное появление */
    opacity: 0; /* Прозрачность по умолчанию */
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    
}

.modal-body{
    overflow-y: auto;
    position: relative;
    margin: 0 24px;
    max-height: 100%;
    max-width: 900px;

}

.modal-inner{
    background-color: #1f1f1f;
    height: 100%;
    padding: 70px;

    color: #fff;
    border-radius: 10px;
    position: relative;
    margin: 24px 0;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 20px;
    z-index: 99999;
      

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal.show {
    display: block;
    opacity: 1; /* Видимость при показе */
}




body.modal-open {
    overflow: hidden !important;
}

